* {
    background-color: rgb(12, 4, 46);
    color: #FAFAFA;
    text-align: center;
}

.materias {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: centers;
    width: 70%;
}

h3 {
    padding: 10px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

h3:hover, h3:hover > a {
    background: rgb(6, 70, 97);
    cursor: pointer;
}

a { /*Link*/
    text-decoration: none;
}


.nome-materia {
    margin-top: 50px;
}

img {
    width: 1280px;
    margin-bottom: 40px;
}